/* stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap');

/* multiple style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.btn-primary:hover {
    background-color: #be6d11;
    transition: 0.5s;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

img {
    width: 100%;
}

/* header area style  */
header {
    max-width: 1440px;
    padding: 0 140px;
    background: rgba(255, 144, 14, 0.1);
}


/* nav style start  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

nav .fa-bars {
    display: none;
}

.nav-list li {
    display: inline;
    margin-left: 10px;
}

.nav-title {
    color: #131313;
}

nav ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

nav ul li a:hover {
    color: #FF900E;
    transition: 0.4s;
}

/* brand new style */
.brand-new>div {
    text-align: center;
    padding: 100px 0 50px 0;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    text-align: center;
    margin-bottom: 10px;
}

.header-sub-title {
    text-align: center;
}

.header-btn {
    margin-top: 30px;
}

.header-banner {
    padding-bottom: 50px;
}

/* header area style end       */
/* main area style  */
main {
    max-width: 1440px;
    padding: 0 140px;
}

/* style our-features  */
.our-features {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    padding-right: 50px;
}

.feature-image img {
    width: 300px;
    height: 300px;
}

.features-sub-title {
    margin: 30px 0;
}

.list {
    color: #727272;
}

.features {
    color: #FF900E;
}

/* style our-features end */
/* features-enjoy style start  */
.our-features-contaner {
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.enjoy-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.enjoy-text {
    width: 50%;
    padding-right: 120px;
    padding-top: 20px;
}

article {
    padding: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
}

article h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 5px;
}

.enjoy-image {
    height: 970px;
    position: relative;
}

.enjoy-image img {
    width: 100%;
    height: 100%;
}

.enjoy-sub-title {
    margin: 30px 0;
}

.big-btn {
    position: absolute;
    bottom: -73px;
    right: 276px;
}

.year-btn {
    padding: 40px;
}

.btn-primary h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
}

.btn-small-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}

/* features-enjoy style end  */
/* some-facts style start  */
.facts {
    margin-top: 130px;
}

.fact-sub-title {
    margin-top: 25px;
}

.fact-box div img {
    width: 45px;
    height: 45px;
}

.fact-box div {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    background: #FFF4E7;
}

.fact-box div:hover {
    box-shadow: #afacac 0px 0px 3px 3px;
    transition: 0.5s;
    cursor: pointer;
}

.fact-box {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: 100px 50px 0 50px;
}

/* some-facts style end  */
.sponspors {
    text-align: center;
    margin-top: 130px;
}

.sponspoe-sub-title {
    margin-top: 10px;
}

.sposop-icon {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
}

.sposop-icon>div img {
    padding: 8px;
    border-radius: 5px;
}

.sposop-icon>div img:hover {
    box-shadow: #afacac 0 0 3px 3px;
    transition: 0.5s;
    cursor: pointer;
}
/* contact style  */
.contact-us{
    padding: 50px 140px;
    margin-top: 130px;
    background: rgba(240, 216, 189, 0.1);
}
.contact-contaner{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}
.contact-title{
    text-align: center;
}
.contact-us p{
    text-align: center;
    margin-top: 10px;
}
iframe{
    width: 100%;
    height: 400px;
}
.contact input, textarea{
    color: #FFFFFF;
    width: 100%;
    background-color: #cac7c7;
    font-size: 20px;
    padding: 10px 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-contact{
    margin-top: 10px;
    padding: 15px 18px;
}
/* contact style end */
footer {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 40px 0;
}

@media only screen and (max-width: 600px) {

    /* header area responsiv */
    .nav-title {
        font-size: 20px;
    }
    header {
        padding: 0 30px;
    }

    .brand-new>div {
        padding: 40px 0 50px 0;
    }

    nav {
        padding-top: 10px;
    }

    .nav-list {
        display: none;
    }
    nav .fa-bars {
        display: block;
        font-size: 30px;
    }
    .header-title {
        font-size: 36px;
        line-height: 50px;
    }

    .header-title br {
        display: none;
    }

    .header-sub-title br {
        display: none;
    }
    /* header area responsiv end */
     /* responsiv style main  */
     main {
        padding: 0 30px;
    }
    /* responsiv style our-features  */
    .our-features {
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    
    .feature-image {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding-right: 0px;
    }
    .feature-image div{
        width: 100%;
    }
 /* responsiv style our-features end */
 /* features-enjoy responsiv style  */
    .our-features-contaner {
        flex-direction: column;
    }
    .enjoy-text {
        width: 100%;
        padding-right: 0;
    }
    .enjoy-image {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
    .big-btn {
        bottom: -95px;
        right: -4px;
    }
    
 /* features-enjoy responsiv style end  */
 /* some-facts responsiv style  */
    .fact-box {
       grid-template-columns: repeat(1, 1fr);
        margin: 100px 0 0 0;
    }
    .sposop-icon {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .fact-sub-title br {
       display: none;
       font-size: 26px;
    }
 /* some-facts responsiv style  */
 /* contact us style  */

 .contact-contaner {
    grid-template-columns: 100%;
    grid-gap: 100px;
}
.contact-us{
    padding: 50px 40px;
}
 /* contact us style end */
}

