/* stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap');

/* multiple style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.btn-primary:hover{
    background-color: #f3a246;
    transition: 0.5s;
}
h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
img{
    width: 100%;
}
/* header area style  */
header {
    max-width: 1440px;
    padding: 0 140px;
    background: rgba(255, 144, 14, 0.1);
}


/* nav style start  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.nav-list li {
    display: inline;
    margin-left: 10px;
}

.nav-title {
    color: #131313;
}

nav ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

nav ul li a:hover {
    color: #FF900E;
    transition: 0.4s;
}

/* brand new style */
.brand-new > div{
    text-align: center;
    padding: 100px 0 50px 0;
}
.header-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    text-align: center;
    margin-bottom: 10px;
}

.header-sub-title {
    text-align: center;
}
.header-btn{
    margin-top: 30px;
}
.header-banner{
    padding-bottom: 50px;
}
